In [1]:
import numpy as np
import pandas as pd

In [3]:
labels =['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d= {'a':10,'b':20,'c':30}
print('Dictionary',d)
pd.Series(my_data,index=labels)

Dictionary {'a': 10, 'b': 20, 'c': 30}

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data,index=[2,3,4])

2    10
3    20
4    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr,index=['sunil',5,2])

sunil    10
5        20
2        30
dtype: int32

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)[1]

20

In [14]:
pd.Series(d)[0]

10

In [19]:
pd.Series([5,6,9], index=['s','k',6])

s    5
k    6
6    9
dtype: int64

In [20]:
pd.Series([5,6,9], index=['s','k',6])[6]

9

In [21]:
pd.DataFrame(d,index=['a','b','c'])

    a   b   c
a  10  20  30
b  10  20  30
c  10  20  30

In [22]:
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
d = {'a':"kjhk",'b':20,'c':30}
d.items
pd.DataFrame(d,index = ['a','b','c'])

      a   b   c
a  kjhk  20  30
b  kjhk  20  30
c  kjhk  20  30

In [25]:
print ("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series([type, sum, max]))

Holding objects from a dictionary
----------------------------------------
0             <class 'type'>
1    <built-in function sum>
2    <built-in function max>
dtype: object

In [37]:
ser1 = pd.Series([1,2,3,4],index = [2,4,6,8])
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
ser1

2    1
4    2
6    3
8    4
dtype: int64

In [38]:
ser2

CA    1
OR    2
NV    5
AZ    4
dtype: int64

In [31]:
ser2[3]

4

In [32]:
ser1[0:3:2]

2    1
6    3
dtype: int64

In [47]:
print ("\nIndexing by number (positional value in the series)\n",'-'*52, sep='')
#print("Value for CA in ser1:", ser1[0])
#print("Value for AZ in ser1:", ser1[3])
print("Value for NV in ser2:", ser2[2])
#ser2[3]

Indexing by number (positional value in the series)
----------------------------------------------------
Value for NV in ser2: 5

In [48]:
print ("\nIndexing by a range\n",'-'*25, sep='')
print ("Value for OR, CO, and AZ in ser1:\n", ser1[0:3:2], sep='')

Indexing by a range
-------------------------
Value for OR, CO, and AZ in ser1:
2    1
6    3
dtype: int64

In [49]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'CA'])
ser2 = pd.Series([1,2,5,4],['CA', 'NV', 'AZ','OR'])
ser3 = ser1+ser2
ser3

AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

In [50]:
print ("\nAfter adding the two series, the result looks like this...\n",'-'*59, sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and puts NaN where indices are missing\n")

After adding the two series, the result looks like this...
-----------------------------------------------------------
AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

Python tries to add values where it finds common index name, and puts NaN where indices are missing

In [51]:
print ("\nThe idea works even for multiplication...\n",'-'*43, sep='')
print (ser1*ser2)

The idea works even for multiplication...
-------------------------------------------
AZ    NaN
CA    1.0
CA    4.0
CO    NaN
NV    NaN
OR    8.0
dtype: float64

In [55]:
from numpy.random import randn as rn
np.random.seed(101)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(matrix_data,row_labels,column_headings)
#print("\nThe data frame looks like\n",'-'*45, sep='')
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [59]:
print("\nType of the pair of columns: ", type(df[['X','Z']]), sep='')
print ("\nSo, for more than one column, the object turns into a DataFrame")

Type of the pair of columns: <class 'pandas.core.frame.DataFrame'>

So, for more than one column, the object turns into a DataFrame

In [58]:

print("\nThe 'X' column accessed by DOT method (NOT recommended)\n",'-'*55, sep='')
print(df["X"])

The 'X' column accessed by DOT method (NOT recommended)
-------------------------------------------------------
A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [60]:
print("\nA column is created by assigning it in relation to an existing column\n",'-'*75, sep='')
df['New'] = df['X']+df['Z']
df['New (Sum of X and Z)'] = df['X']+df['Z']
print(df)

A column is created by assigning it in relation to an existing column
---------------------------------------------------------------------------
          W         X         Y         Z       New  New (Sum of X and Z)
A  2.706850  0.628133  0.907969  0.503826  1.131958              1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647              0.286647
C -2.018168  0.740122  0.528813 -0.589001  0.151122              0.151122
D  0.188695 -0.758872 -0.933237  0.955057  0.196184              0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266              2.662266

In [61]:
df

          W         X         Y         Z       New  New (Sum of X and Z)
A  2.706850  0.628133  0.907969  0.503826  1.131958              1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647              0.286647
C -2.018168  0.740122  0.528813 -0.589001  0.151122              0.151122
D  0.188695 -0.758872 -0.933237  0.955057  0.196184              0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266              2.662266

In [62]:
print("\nA column is dropped by using df.drop() method\n",'-'*55, sep=' ')
df.drop("C",inplace=True) # Notice the axis=1 option, axis = 0 is default, so one has to change it to 1

A column is dropped by using df.drop() method
 -------------------------------------------------------

In [66]:
df

          W         X         Y         Z       New  New (Sum of X and Z)
A  2.706850  0.628133  0.907969  0.503826  1.131958              1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647              0.286647
D  0.188695 -0.758872 -0.933237  0.955057  0.196184              0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266              2.662266

In [65]:
df.shape

(4, 6)

In [67]:
df1=df.drop('A')
print("\nA row (index) is dropped by using df.drop() method and axis=0\n",'-'*65, sep='')
print(df1)

A row (index) is dropped by using df.drop() method and axis=0
-----------------------------------------------------------------
          W         X         Y         Z       New  New (Sum of X and Z)
B  0.651118 -0.319318 -0.848077  0.605965  0.286647              0.286647
D  0.188695 -0.758872 -0.933237  0.955057  0.196184              0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266              2.662266

In [68]:
print("\nAn in-place change can be done by making inplace=True in the drop method\n",'-'*75, sep='')
df.drop('New (Sum of X and Z)', axis=1, inplace=True)
print(df)

An in-place change can be done by making inplace=True in the drop method
---------------------------------------------------------------------------
          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
D  0.188695 -0.758872 -0.933237  0.955057  0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [69]:
print("\nLabel-based 'loc' method can be used for selecting row(s)\n",'-'*60, sep='')
print("\nSingle row\n")
print(df.iloc[3])

Label-based 'loc' method can be used for selecting row(s)
------------------------------------------------------------

Single row

W      0.190794
X      1.978757
Y      2.605967
Z      0.683509
New    2.662266
Name: E, dtype: float64

In [71]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
D  0.188695 -0.758872 -0.933237  0.955057  0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [73]:
print("\nMultiple rows\n")
print(df.loc[['B','E']])

Multiple rows

          W         X         Y         Z       New
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [74]:
print("\nIndex position based 'iloc' method can be used for selecting row(s)\n",'-'*70, sep='')
print("\nSingle row\n")
print(df.iloc[2])

Index position based 'iloc' method can be used for selecting row(s)
----------------------------------------------------------------------

Single row

W      0.188695
X     -0.758872
Y     -0.933237
Z      0.955057
New    0.196184
Name: D, dtype: float64

In [75]:
print("\nMultiple rows\n")
print(df.iloc[[1,2]])

Multiple rows

          W         X         Y         Z       New
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
D  0.188695 -0.758872 -0.933237  0.955057  0.196184

In [78]:
print("\nMultiple rows\n")
print(df.iloc[[1,3]])

Multiple rows

          W         X         Y         Z       New
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [79]:
#### Subsetting DataFrame

In [80]:
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

In [81]:
print("\nThe DatFrame\n",'-'*45, sep='')
print(df)

The DatFrame
---------------------------------------------
          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [82]:
print("\nElement at row 'B' and column 'Y' is\n") 
print(df.loc[['B','C'],['Y','W']])

Element at row 'B' and column 'Y' is

          Y         W
B  0.166905 -0.134841
C  0.638787  0.807706

In [83]:
print("\nSubset comprising of rows B and D, and columns W and Y, is\n")
df.iloc[[1,2,3],[0,1]]

Subset comprising of rows B and D, and columns W and Y, is

          W         X
B -0.134841  0.390528
C  0.807706  0.072960
D -0.497104 -0.754070

In [87]:
print(df.loc[['B','C','E'],])

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
E -0.116773  1.901755  0.238127  1.996652

In [88]:
print(df.loc[['B','C'],])

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646

In [89]:
print("\nBoolean DataFrame(s) where we are checking if the values are greater than 0\n",'-'*75, sep='')
print(df>0)

Boolean DataFrame(s) where we are checking if the values are greater than 0
---------------------------------------------------------------------------
       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [90]:
print("\n")
print(df.loc[['A','B','C']]>0)

       W     X      Y      Z
A   True  True  False  False
B  False  True   True   True
C   True  True   True   True

In [91]:
booldf = df>0
print("\nDataFrame indexed by boolean dataframe\n",'-'*45, sep='')
print(df[booldf])

DataFrame indexed by boolean dataframe
---------------------------------------------
          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [94]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']
matrix_data

matrix([[ 22,  66, 140],
        [ 42,  70, 148],
        [ 30,  62, 125],
        [ 35,  68, 160],
        [ 25,  62, 152]])

In [95]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nA new DataFrame\n",'-'*25, sep='')
print(df)

A new DataFrame
-------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [96]:
df[df['Height']>65]

   Age  Height  Weight
A   22      66     140
B   42      70     148
D   35      68     160

In [98]:
df[df['Age']<60]

   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [99]:
print("\nRows with Height > 65 inch\n",'-'*35, sep='')
print(df[df['Height']>65])

Rows with Height > 65 inch
-----------------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
D   35      68     160

In [100]:
df['Height']>65

A     True
B     True
C    False
D     True
E    False
Name: Height, dtype: bool

In [101]:
booldf1 = df['Height']>65
booldf2 = df['Weight']>145

In [102]:
print("\nRows with Height > 65 inch and Weight >145 lbs\n",'-'*55, sep='')
print(df[(booldf1) & (booldf2)])

Rows with Height > 65 inch and Weight >145 lbs
-------------------------------------------------------
   Age  Height  Weight
B   42      70     148
D   35      68     160

In [103]:
print("\nDataFrame with only Age and Weight columns whose Height > 65 inch\n",'-'*68, sep='')
print(df[booldf1][['Age','Weight']])

DataFrame with only Age and Weight columns whose Height > 65 inch
--------------------------------------------------------------------
   Age  Weight
A   22     140
B   42     148
D   35     160

In [104]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

In [105]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe DataFrame\n",'-'*25, sep='')
print(df)

The DataFrame
-------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [106]:
print("\nAfter resetting index\n",'-'*35, sep='')
print(df.reset_index())

After resetting index
-----------------------------------
  index  Age  Height  Weight
0     A   22      66     140
1     B   42      70     148
2     C   30      62     125
3     D   35      68     160
4     E   25      62     152

In [107]:
print("\nAfter resetting index with 'drop' option TRUE\n",'-'*45, sep='')
print(df.reset_index(drop=True))
"Student Teacher Engineer Doctor Nurse".split()

After resetting index with 'drop' option TRUE
---------------------------------------------
   Age  Height  Weight
0   22      66     140
1   42      70     148
2   30      62     125
3   35      68     160
4   25      62     152

['Student', 'Teacher', 'Engineer', 'Doctor', 'Nurse']

In [108]:
print("\nAdding a new column 'Profession'\n",'-'*45, sep='')
df['Profession'] = "Student Teacher Engineer Doctor Nurse".split()
print(df)

Adding a new column 'Profession'
---------------------------------------------
   Age  Height  Weight Profession
A   22      66     140    Student
B   42      70     148    Teacher
C   30      62     125   Engineer
D   35      68     160     Doctor
E   25      62     152      Nurse

In [109]:
print("\nSetting 'Profession' column as index\n",'-'*45, sep='')
print (df.set_index('Profession'))

Setting 'Profession' column as index
---------------------------------------------
            Age  Height  Weight
Profession
Student      22      66     140
Teacher      42      70     148
Engineer     30      62     125
Doctor       35      68     160
Nurse        25      62     152

In [110]:
#multi-indexing
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [111]:
print("\nTuple pairs after the zip and list command\n",'-'*45, sep='')
print(hier_index)

Tuple pairs after the zip and list command
---------------------------------------------
[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [112]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
print("\nIndex hierarchy\n",'-'*25, sep='')
print(hier_index)

Index hierarchy
-------------------------
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [113]:
print("\nIndex hierarchy type\n",'-'*25, sep='')
print(type(hier_index))

Index hierarchy type
-------------------------
<class 'pandas.core.indexes.multi.MultiIndex'>

In [114]:
print("\nCreating DataFrame with multi-index\n",'-'*37, sep='')
#np.random.seed(101)
df1 = pd.DataFrame(data=np.round(rn(6,3)), index= hier_index, columns= ['A','B','C'])
print(df1)

Creating DataFrame with multi-index
-------------------------------------
        A    B    C
G1 1 -1.0  0.0 -1.0
   2  0.0  1.0 -0.0
   3 -0.0  1.0  2.0
G2 1 -1.0 -1.0 -0.0
   2  0.0 -0.0  1.0
   3  1.0 -1.0  2.0